<form [formGroup]="scholarForm" (ngSubmit)="onSubmit()" class="mt-4">
  <div class="row">
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="studentId"
            placeholder="{{ studentIdLbl }}"
            matLabel="studentIdLbl"
          />
          <mat-icon
            *ngIf="scholarForm.get('studentId')?.value"
            matSuffix
            mat-icon-button
            [attr.aria-label]="clearLbl"
            (click)="scholarForm.get('studentId')?.setValue('')"
            >close</mat-icon
          >
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="studentName"
            placeholder="{{ studentNameLbl }}"
            matLabel="studentNameLbl"
          />
          <mat-icon
            *ngIf="scholarForm.get('studentName')?.value"
            matSuffix
            mat-icon-button
            [attr.aria-label]="clearLbl"
            (click)="scholarForm.get('studentName')?.setValue('')"
            >close</mat-icon
          >
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="scholarshipId"
            placeholder="{{ scholarshipIdLbl }}"
            matLabel="scholarshipIdLbl"
          />
          <mat-icon
            *ngIf="scholarForm.get('scholarshipId')?.value"
            matSuffix
            mat-icon-button
            [attr.aria-label]="clearLbl"
            (click)="scholarForm.get('scholarshipId')?.setValue('')"
            >close</mat-icon
          >
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="scholarshipName"
            placeholder="{{ scholarshipNameLbl }}"
            matLabel="scholarshipNameLbl"
          />
          <button
            *ngIf="scholarForm.get('scholarshipName')?.value"
            matSuffix
            mat-icon-button
            [attr.aria-label]="clearLbl"
            (click)="scholarForm.get('scholarshipName')?.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="awardedAmount"
            placeholder="{{ awardedAmountLbl }}"
            matLabel="awardedAmountLbl"
          />
          <button
            *ngIf="scholarForm.get('awardedAmount')?.value"
            matSuffix
            mat-icon-button
            [attr.aria-label]="clearLbl"
            (click)="scholarForm.get('awardedAmount')?.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-select
            formControlName="renewable"
            placeholder="Renewable"
            id="{{ renewableLbl }}"
            matLabel="renewableLbl"
          >
            <mat-option
              *ngFor="let option of renewableOptions"
              [value]="option"
              >{{ option }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field class="w-100">
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              formControlName="startDate"
              placeholder="Start date"
              id="startDate"
            />
            <input
              matEndDate
              formControlName="endDate"
              placeholder="End date"
              id="endDate"
            />
          </mat-date-range-input>
          <mat-hint>Scholarship Timeline (MM/DD/YYYY)</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          @if
          (scholarForm.controls['startDate'].hasError('matStartDateInvalid')) {
          <mat-error>Invalid start date</mat-error>
          } @if (scholarForm.controls['endDate'].hasError('matEndDateInvalid'))
          {
          <mat-error>Invalid end date</mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-select
            formControlName="level"
            placeholder="{{ levelLbl }}"
            multiple
            id="level"
            matLabel="levelLbl"
          >
            <mat-option *ngFor="let level of levelOptions" [value]="level">{{
              level
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-select
            formControlName="major"
            id="major"
            placeholder="{{ majorLbl }}"
            matLabel="majorLbl"
            multiple
          >
            <mat-option *ngFor="let option of majorOptions" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="gpa"
            placeholder="{{ gpaLbl }}"
            id="gpa"
            matLabel="gpaLbl"
          />
          <button
            *ngIf="scholarForm.get('gpa')?.value"
            matSuffix
            mat-icon-button
            [attr.aria-label]="clearLbl"
            (click)="scholarForm.get('gpa')?.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-select
            formControlName="needOrMerit"
            id="needOrMerit"
            placeholder="{{ needOrMeritLbl }}"
            matLabel="needOrMeritLbl"
          >
            <mat-option
              *ngFor="let option of needMeritOptions"
              [value]="option"
              >{{ option }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="state"
            placeholder="{{ stateLbl }}"
            id="state"
            matLabel="stateLbl"
          />
          <button
            *ngIf="scholarForm.get('state')?.value"
            matSuffix
            mat-icon-button
            [attr.aria-label]="clearLbl"
            (click)="scholarForm.get('state')?.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-3 mb-3">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="county"
            placeholder="{{ countyLbl }}"
            id="county"
            matLabel="countyLbl"
          />
          <button
            *ngIf="scholarForm.get('county')?.value"
            matSuffix
            mat-icon-button
            [attr.aria-label]="clearLbl"
            (click)="scholarForm.get('county')?.setValue('')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <button type="submit" class="primary-btn submit-btn">
        {{ submitLbl }}
      </button>
    </div>
  </div>
</form>
