@import "../../../variables";

table {
  width: 100%;
}

.scholarship-click {
  cursor: pointer;
  color: $primary-color;
  text-decoration: underline;
}

.mat-mdc-form-field {
  font-size: 14px;
}

td,
th {
  width: 25%;
}
